.article-link {
  color: black;
  font-size: 18px;
  font-weight: 600;
}

.single-article {
  background: #fff;
  padding: 10px;
  border-radius: 16px;
  border: 2px solid gray;
  margin-bottom: 10px;
}