.individual-content-container {
  padding: 25px 40px;
  flex-direction: column;
  display: flex;
  width: 70%;
}

@media screen and (max-width: 820px) {
  .individual-content-container {
    width: 90%;
  }
}

@media screen and (max-width: 820px) {
  .individual-content-container {
    padding: 25px 0px;
    margin: auto;
  }
}

